# Python junk
__pycache__/
*.py[cod]
.env
.ipynb_checkpoints/

# Data (NEVER COMMIT THESE)
data/
models/
*.csv
*.tsv
*.pkl
*.json

# VS Code / IDE
.vscode/
.idea/

# Conversations
talks/

# Streamlit secrets
.streamlit/

# ChromaDB folders
chroma_db/
chroma_db_chnagedModel/
chroma_db_L6/
chroma_db_L6a/